<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    
    <%- include('./partials/nav.ejs') %> 

    <div class="create-blogs content">
        <form action="/blogs" method="post">
            <div class="form">
                <label for="title">Blog Title</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form">
                <label for="snippet">Blog snippet</label>
                <input type="text" id="snippet" name="snippet" required>
            </div>
            <div class="form">
                <label for="blog-body">Blog Body</label>
                <textarea id="body"  name="body" required></textarea>
            </div>
            <div class="form">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>